<!doctype HTML>
<html>
<head>
<title>Posts</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style type="text/css">
 .img-thumbnail { height: 200px; width: 200px;}
 input { width: 90%}
</style>
</head>
<body>
<nav class="navbar navbar-light bg-light">
<h3><a class="navbar-brand">How's your Day</a></h3>
<div class="row">
<div class="col">
<a href="write"><button type="submit" class="btn btn-outline-primary">Write</button></a>
</div>
<div class="col">
<a href="chat"><button type="submit" class="btn btn-outline-primary">chat</button></a>
</div>
<div class="col">
<a href="user"><button type="submit" class="btn btn-outline-primary">Profile</button></a>
</div>
<div class="col">
<a href="logout"><button type="submit" class="btn btn-outline-primary">Logout</button></a>
</div>
</nav>
{% for id, user, post, image in posts %}
<div class="container" style="width: 100%;">
  <div class="row">
    <div class="col text-center" id="post-img">
<img src="{{ url_for('static', filename='images/' + image) }}" class="img-thumbnail" alt="post image"><br>
<a href="posts/{{ id }}"><button type="submit" class="btn btn-success">View Post with Comment</button></a>
</div>
<div class="col">
<h2 class="card-title ">{{ user }}</h2>
<div class="card-text">{{ post }}</div>
</div>
</div>
<form action="{{ url_for('posts')}}" method="post">
  <div class="form-group">
  <label for="comments">Comment</label>
  <input type="text" maxlength="200" id="comments" name="comments" required>
<input type="hidden" name="post-id" value="{{ id }}"></div>
  <button type="submit" class="btn btn-primary">comment</button>
</form>
</div>
{% endfor %}
</body>
</html>
