<!doctype HTML>
<html>
<head>
<title>Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style type="text/css">
img {
  vertical-align: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@media only screen and (min-device-width: 481px) {
      .card {
        display: none;
      }
    }

 @media only screen and (max-device-width: 480px) {
      .container {
        display: none;
      }
    }
</style>
<script>
	Filevalidation = () => {
		const pic = document.getElementById('profilepic');
		if (pic.files.length > 0) {
			for (const i = 0; i <= fi.files.length - 1; i++) {
				const picsize = pic.files.item(i).size;
				const file = Math.round((picsize / 1024));
        if (file > 4096) {
					alert(
					"File too small, please select a file greater than 4mb");
				};
				}
			}
		}
</script>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
  <h3><a class="navbar-brand">How's your Day</a></h3>
  <div class="row">
  <div class="col">
  <a href="posts"><button type="submit" class="btn btn-outline-primary">Posts</button></a>
  </div>
  <div class="col">
  <a href="write"><button type="submit" class="btn btn-outline-primary">Write</button></a>
  </div>
  <div class="col">
  <a href="logout"><button type="submit" class="btn btn-outline-primary">Logout</button></a>
  </div>
  </nav>
<div class="container" style="width: 100%;">
<div align="left" style="float: left; width: 40%;">
  <h3>Profile Picture-{{ nameofuser }}</h3>
  <img src="{{ url_for('static', filename=pic) }}" alt="profile picture">
  <form method="post" enctype="multipart/form-data" action="{{ url_for('user')}}" onsubmit="Filevalidation()">
  <input type="file" name="profile" accept=".jpg,.png,.jpeg">
  <button class="btn btn-success" type="submit">Upload</button>
</form>
</div>
<div align="left" style="float: left; width: 60%;">
  <h1>Name:<h2 style="text-align: center;">{{ fname }} {{ lname }}</h2></h1>
  <h1>Email:<h2 style="text-align: center;">{{ email }}</h2></h1>
</div>
<br>
</div>
<div class="card" style="width: 100%;">
<div style="width: 100%;">
  <h3>Profile Picture</h3>
  </picture>
  <img src="{{ url_for('static', filename=pic) }}" alt="profile picture">
  <form method="post" enctype="multipart/form-data">
  <input type="file" name="profile">
  <button class="btn btn-success" type="submit">Upload</button>
</form>
</div>
<div style="width: 100%;">
  <h1>Name:<h2 style="text-align: center;">{{ fname }} {{ lname }}</h2></h1>
  <h1>Email:<h2 style="text-align: center;">{{ email }}</h2></h1>
</div>
</div>
</body>
</html>
